<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_B</key>
	<array>
		<string>B'</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>P</string>
		<string>R</string>
		<string>U</string>
		<string>bracketleft</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Ntilde</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
	</array>
	<key>_C</key>
	<array>
		<string>C'</string>
		<string>G</string>
		<string>O</string>
		<string>Q</string>
		<string>cedilla</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
	</array>
	<key>_a</key>
	<array>
		<string>a'</string>
		<string>e</string>
		<string>o</string>
		<string>acute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
	</array>
	<key>_b</key>
	<array>
		<string>b'</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
	</array>
	<key>_e</key>
	<array>
		<string>e'</string>
		<string>o</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
	</array>
	<key>_f</key>
	<array>
		<string>f'</string>
		<string>uniFB00</string>
	</array>
	<key>_f1</key>
	<array>
		<string>f'</string>
		<string>uniFB00</string>
		<string>uniFB01</string>
		<string>uniFB02</string>
	</array>
	<key>_m</key>
	<array>
		<string>m'</string>
		<string>n</string>
		<string>r</string>
		<string>u</string>
	</array>
</dict>
</plist>
